---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Jin Bok",
    country: "Brazil",
    occupations: ["software engineer", "trader", "podcaster", "music producer", "DJ"],
    hobbies: ["chess", "longboard downhill", "ukulele"],
    skills: [
        "Cook perfect American pancakes.",
        "Make a baby sleep in less than 5 minutes.",
        "Tell excellent jokes.",
    ],
};

const finishedTheTutorial = false;

const goalInHours = 24;

const skillColor = "navy";

const fontWeight = "bold";

const textCase = "uppercase";
---

<style define:vars={{skillColor, fontWeight, textCase}}>
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <h2>... and my new Astro blog!</h2>

    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I'm currently living in {identity.country}, and I work as a {identity.occupations[Math.floor(Math.random()*identity.occupations.length)]}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
        }
    </ul>
    <p>Some of my skills may or may not be the following:</p>
    <ul>
        {identity.skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <p>I am happy to be learning Astro!</p>

    {finishedTheTutorial && <p>I finished this tutorial!</p>}

    {goalInHours === 24 ?
        <p>My goal is to finish the tutorial in less than {goalInHours} hours.</p> :
        <p>My goal is not to finish the tutorial in less than {goalInHours} hours.</p>}
</BaseLayout>
